*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(0, 3, 43);
}
.container{
    height: 200px;
    width: 200px;
    background: linear-gradient(90deg,rgb(255, 0, 255),rgb(128, 0, 28));
    border-radius: 50%;
}
.ball{
    position: absolute;
    width: 20px;
    height: 20px;
    background: linear-gradient(90deg,rgb(255, 0, 255),rgb(128, 0, 28));
    border-radius: 50%;
    z-index: -1;
}
@keyframes ballMove {
    0%,100%{
        transform: translate(0,0);
    }
    50%{
        transform: translate(var(--x),var(--y));
    }
}